// CSS HIERARCHY
/* Positioning */
/* Display & Box Model */
/* Color */
/* Text */
/* Other */

/* FONT */
font-family = Avenir, Helvetica, Arial, sans-serif
// FIXME alternative font :
//  'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
//     Roboto, 'Helvetica Neue', Arial, sans-serif;
font-size-content = 1.6rem
font-size-button = 1.4rem

/* COLOR */
color-background = #000
color-background-2 = #121212
color-background-3 = #181818
color-text = #fff
color-text-inactive = #b3b3b3
color-button-active = #282828
color-button-play = #1db954